@import url("./variables.css");
.add-task-section {
  margin-top: 20px;
  margin-bottom: 100px;
}

.add-task-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border: 2px solid var(--color-primary);
}

.form-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: var(--color-accent);
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #f0f2f5;
  border-radius: 8px;
  font-family: var(--font-primary);
  font-size: 1rem;
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  border-color: var(--color-primary);
}

.form-textarea {
  height: 100px;
  resize: none;
}

.form-button {
  background-color: var(--color-primary-2); /* Розовая/акцентная */
  color: white;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.1s,
    opacity 0.2s;
}

.form-button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.form-button:active {
  transform: translateY(0);
}
